.notify .fas {
    font-size: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99999999999999;
    color: red;
    display: block;
    width: 40px;
    height: 40px;
    margin: 50px auto 0;
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotateZ(0);
    }
    1% {
        -webkit-transform: rotateZ(30deg);
    }
    3% {
        -webkit-transform: rotateZ(-28deg);
    }
    5% {
        -webkit-transform: rotateZ(34deg);
    }
    7% {
        -webkit-transform: rotateZ(-32deg);
    }
    9% {
        -webkit-transform: rotateZ(30deg);
    }
    11% {
        -webkit-transform: rotateZ(-28deg);
    }
    13% {
        -webkit-transform: rotateZ(26deg);
    }
    15% {
        -webkit-transform: rotateZ(-24deg);
    }
    17% {
        -webkit-transform: rotateZ(22deg);
    }
    19% {
        -webkit-transform: rotateZ(-20deg);
    }
    21% {
        -webkit-transform: rotateZ(18deg);
    }
    23% {
        -webkit-transform: rotateZ(-16deg);
    }
    25% {
        -webkit-transform: rotateZ(14deg);
    }
    27% {
        -webkit-transform: rotateZ(-12deg);
    }
    29% {
        -webkit-transform: rotateZ(10deg);
    }
    31% {
        -webkit-transform: rotateZ(-8deg);
    }
    33% {
        -webkit-transform: rotateZ(6deg);
    }
    35% {
        -webkit-transform: rotateZ(-4deg);
    }
    37% {
        -webkit-transform: rotateZ(2deg);
    }
    39% {
        -webkit-transform: rotateZ(-1deg);
    }
    41% {
        -webkit-transform: rotateZ(1deg);
    }
    43% {
        -webkit-transform: rotateZ(0);
    }
    100% {
        -webkit-transform: rotateZ(0);
    }
}

@-moz-keyframes ring {
    0% {
        -moz-transform: rotate(0);
    }
    1% {
        -moz-transform: rotate(30deg);
    }
    3% {
        -moz-transform: rotate(-28deg);
    }
    5% {
        -moz-transform: rotate(34deg);
    }
    7% {
        -moz-transform: rotate(-32deg);
    }
    9% {
        -moz-transform: rotate(30deg);
    }
    11% {
        -moz-transform: rotate(-28deg);
    }
    13% {
        -moz-transform: rotate(26deg);
    }
    15% {
        -moz-transform: rotate(-24deg);
    }
    17% {
        -moz-transform: rotate(22deg);
    }
    19% {
        -moz-transform: rotate(-20deg);
    }
    21% {
        -moz-transform: rotate(18deg);
    }
    23% {
        -moz-transform: rotate(-16deg);
    }
    25% {
        -moz-transform: rotate(14deg);
    }
    27% {
        -moz-transform: rotate(-12deg);
    }
    29% {
        -moz-transform: rotate(10deg);
    }
    31% {
        -moz-transform: rotate(-8deg);
    }
    33% {
        -moz-transform: rotate(6deg);
    }
    35% {
        -moz-transform: rotate(-4deg);
    }
    37% {
        -moz-transform: rotate(2deg);
    }
    39% {
        -moz-transform: rotate(-1deg);
    }
    41% {
        -moz-transform: rotate(1deg);
    }
    43% {
        -moz-transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(0);
    }
}

@keyframes ring {
    0% {
        transform: rotate(0);
    }
    1% {
        transform: rotate(30deg);
    }
    3% {
        transform: rotate(-28deg);
    }
    5% {
        transform: rotate(34deg);
    }
    7% {
        transform: rotate(-32deg);
    }
    9% {
        transform: rotate(30deg);
    }
    11% {
        transform: rotate(-28deg);
    }
    13% {
        transform: rotate(26deg);
    }
    15% {
        transform: rotate(-24deg);
    }
    17% {
        transform: rotate(22deg);
    }
    19% {
        transform: rotate(-20deg);
    }
    21% {
        transform: rotate(18deg);
    }
    23% {
        transform: rotate(-16deg);
    }
    25% {
        transform: rotate(14deg);
    }
    27% {
        transform: rotate(-12deg);
    }
    29% {
        transform: rotate(10deg);
    }
    31% {
        transform: rotate(-8deg);
    }
    33% {
        transform: rotate(6deg);
    }
    35% {
        transform: rotate(-4deg);
    }
    37% {
        transform: rotate(2deg);
    }
    39% {
        transform: rotate(-1deg);
    }
    41% {
        transform: rotate(1deg);
    }
    43% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

.js .slider-single>div:nth-child(1n+2) {
    display: none
}

.wrap-all {
    background-image: url("https://www.siarza.com/wp-content/uploads/2017/12/webplunder-background-image-technology-online-website-solutions.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.js .slider-single.slick-initialized>div:nth-child(1n+2) {
    display: block
}

.slider-nav .slick-prev:before,
.slider-nav .slick-next:before {
    color: black;
}

.slider-single .slick-prev:before,
.slider-single .slick-next:before {
    opacity: 0;
}

img {
    background: #f0f0f0;
    position: relative;
    text-align: center;
}

.slider-single div {
    width: 100%;
    height: 250px;
}

.slider-single {
    border: 1px solid black;
}

.slider-single img {
    width: 100%;
    height: 100%;
}

.slider-nav div {
    width: 100%;
    height: 80px;
}

.slider-nav img {
    width: 100%;
    height: 100%;
}

.slider-nav img::before {
    content: "";
    display: block;
    padding-top: 75%;
}

.slider-nav .slick-slide {
    cursor: pointer;
}

.slider-nav img {
    opacity: .5;
}

.slick-slide.is-active img {
    opacity: .99;
    border: .5px solid black;
}


/* Rating */

.card-inner {
    margin-left: 4rem;
}

.rating-card {
    padding: 10px;
    background-color: #F5F5F5;
    width: 70%;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.fa-star,
.fa-star-o {
    color: orange;
}

.rating-card h1 {
    color: #337AB7;
    margin-bottom: 30px;
}

.rating {
    width: 50%;
    float: left;
}

.rating p {
    margin-top: 10px;
    font-size: 20px;
}

.rating h2 {
    margin: 0px;
    font-size: 60px;
    font-weight: normal;
}

.rating-process {
    width: 50%;
    text-align: left;
    float: right;
}

.rating-right-part {
    margin-bottom: 3px;
}

.rating-right-part p {
    margin: 0px;
}

.progress,
.progress-2,
.progress-3,
.progress-4,
.progress-5 {
    background: #c2c2c2;
    border-radius: 13px;
    height: 18px;
    width: 70%;
    padding: 3px;
    margin: -20px 0px 0px 50px;
    display: block;
}

.progress:after,
.progress-2:after,
.progress-3:after,
.progress-4:after,
.progress-5:after {
    content: '';
    display: block;
    background: #337AB7;
    width: 80%;
    height: 100%;
    border-radius: 9px;
}

.progress-2:after {
    width: 60%;
}

.progress-3:after {
    width: 40%;
}

.progress-4:after {
    width: 20%;
}

.progress-5:after {
    width: 10%;
}

@media (min-width:320px) and (max-width:640px) {
    .rating {
        width: 100%;
    }
    .rating-process {
        width: 100%;
    }
}

.product-name {
    margin-top: 5px;
}

.product-reference .product-name-ref img {
    width: 100%;
    margin-top: 5px;
}

.product-reference .product-name-ref {
    margin: 0 auto;
    width: 90%;
}

.product-reference {
    width: 100%;
}

.product-reference .title-ref {
    text-align: center;
}


/* footer */


/* Please Subscribe My Youtube Channel
https://www.youtube.com/channel/UCQM5ye1xR4vJgtga0ryud2Q/
*/


/*==================== 
	Footer 
====================== */


/* Main Footer */

footer .main-footer {
    padding: 20px 0;
    background: #252525;
}

footer ul {
    padding-left: 0;
    list-style: none;
}


/* Copy Right Footer */

.footer-copyright {
    background: #222;
    padding: 5px 0;
}

.footer-copyright .logo {
    display: inherit;
}

.footer-copyright nav {
    float: right;
    margin-top: 5px;
}

.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-copyright nav ul li {
    border-left: 1px solid #505050;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}

.footer-copyright nav ul li a {
    color: #969696;
}

.footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}

.footer-copyright p {
    color: #969696;
    margin: 2px 0 0;
}


/* Footer Top */

.footer-top {
    background: #252525;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #222;
}


/* Footer transparent */

footer.transparent .footer-top,
footer.transparent .main-footer {
    background: transparent;
}

footer.transparent .footer-copyright {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}


/* Footer light */

footer.light .footer-top {
    background: #f9f9f9;
}

footer.light .main-footer {
    background: #f9f9f9;
}

footer.light .footer-copyright {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}


/* Footer 4 */

.footer- .logo {
    display: inline-block;
}


/*==================== 
	Widgets 
====================== */

.widget {
    padding: 20px;
    margin-bottom: 40px;
}

.widget.widget-last {
    margin-bottom: 0px;
}

.widget.no-box {
    padding: 0;
    background-color: transparent;
    margin-bottom: 40px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.widget.subscribe p {
    margin-bottom: 18px;
}

.widget li a {
    color: #ff8d1e;
}

.widget li a:hover {
    color: #4b92dc;
}

.widget-title {
    margin-bottom: 20px;
}

.widget-title span {
    background: #839FAD none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-top: 25px;
    position: relative;
    width: 20%;
}

.widget-title span::after {
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}

.widget-title.text-center span,
.widget-title.text-center span::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.widget .badge {
    float: right;
    background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
    color: #fff;
}

ul.social-footer2 {
    margin: 0;
    padding: 0;
    width: auto;
}

ul.social-footer2 li {
    display: inline-block;
    padding: 0;
}

ul.social-footer2 li a:hover {
    background-color: #ff8d1e;
}

ul.social-footer2 li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}


/* ------ */

.form-info {
    text-align: center;
    margin-bottom: 10px;
}

.form-group select {
    height: 40px;
}

.form-info .container .wrap {
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f5f5f5;
}

.form-info .container .wrap p {
    background-color: wheat;
}

.card .detail {
    margin: 5px 0;
}